files:
  "/etc/rsyslog.d/logstash.conf" :
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    content: |
      $ModLoad imfile   # Load the imfile input module

      $WorkDirectory /var/log

      # Watch /var/log/nodejs/nodejs.log
      $InputFileName /var/log/nodejs/nodejs.log
      $InputFileTag nodejs-log:
      $InputFileStateFile state-nodejs-log
      $InputRunFileMonitor


      # Watch /var/log/nginx/access.log
      $InputFileName /var/log/nginx/access.log
      $InputFileTag storage-service-nginx-access:
      $InputFileStateFile state-nginx-access
      $InputRunFileMonitor

      # Watch /var/log/nginx/error.log
      $InputFileName /var/log/nginx/error.log
      $InputFileTag storage-service-nginx-error:
      $InputFileStateFile state-nginx-error
      $InputRunFileMonitor

      # Send everything to Ireland logstash server too
      *.* @@ec2-54-72-215-236.eu-west-1.compute.amazonaws.com:5514


commands:
    restart_rsyslog:
        command: service rsyslog restart